# Default ignored files
/shelf/
/workspace.xml
# CodeStream ignored files
/../../cart-app\.idea/codestream.xml
# Datasource local storage ignored files
/../../../../../:\xampp\htdocs\cart-app\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
